{% extends 'layout/base.html' %}

{% block title %}Tra cứu chuyến bay{% endblock %}

{% block content %}
<div class="session-style container d-flex justify-content-between align-items-center">
    <img src="../static/images/flight_lookup_banner.png"
         alt="flight_lookup_banner" style="height: 720px;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card p-4 shadow"
             style="max-width: 800px; margin-top: 40px; margin-bottom: 40px;">
            <h2 class="text-center p-3">Tra cứu chuyến bay</h2>
            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Một chiều
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Khứ hồi
                    </button>
                </div>
            </nav>
            <div class="tab-content p-3 border bg-light" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <form action="/flight-lookup/select-flight">
                        <div class="mb-3 mt-3">
                            <label for="departure_point" class="form-label">Điểm đi</label>
                            <input class="form-control" list="departure_point_list_one_way" name="departure_point"
                                   id="departure_point_one_way">
                            <datalist id="departure_point_list_one_way">
                                <option value="Tp. Hồ Chí Minh" label="Sân bay Tân Sơn Nhất">
                                <option value="Hà Nội" label="Sân bay Nội bài">
                                <option value="Buôn Ma Thuột" label="Sân bay Buôn Ma Thuột">
                                <option value="Cần thơ" label="Sân bay Trà Nóc">
                                <option value="Chu lai" label="Sân bay Chu lai">
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label for="destination" class="form-label">Điểm đến</label>
                            <input class="form-control" list="destination_list_one_way" name="destination"
                                   id="destination_one_way">
                            <datalist id="destination_list_one_way">
                                <option value="Tp. Hồ Chí Minh" label="Sân bay Tân Sơn Nhất">
                                <option value="Hà Nội" label="Sân bay Nội bài">
                                <option value="Buôn Ma Thuột" label="Sân bay Buôn Ma Thuột">
                                <option value="Cần thơ" label="Sân bay Trà Nóc">
                                <option value="Chu lai" label="Sân bay Chu lai">
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label for="Date_of_department_one_way" class="form-label">Ngày đi</label>
                            <input id="Date_of_department" width="602"/>
                            <script>
                                $('#Date_of_department').datepicker({
                                    uiLibrary: 'bootstrap5'
                                });
                            </script>
                        </div>
                        <div class="mb-3">
                            <label for="quantity_one_way" class="form-label">Số lượng</label>
                            <input class="form-control" style="width: 50%;" name="quantity" id="quantity_one_way"
                                   type="number">
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-danger">Vui lòng điền đủ thông tin!</p>
                            <button type="submit" class="btn btn-success"
                                    style="border-radius: 10px; font-weight: 600;">Tìm
                                kiếm
                            </button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <form action="/flight-lookup">
                        <div class="mb-3 mt-3">
                            <label for="departure_point" class="form-label">Điểm đi</label>
                            <input class="form-control" list="departure_point_list" name="departure_point"
                                   id="departure_point">
                            <datalist id="departure_point_list">
                                <option value="Tp. Hồ Chí Minh" label="Sân bay Tân Sơn Nhất">
                                <option value="Hà Nội" label="Sân bay Nội bài">
                                <option value="Buôn Ma Thuột" label="Sân bay Buôn Ma Thuột">
                                <option value="Cần thơ" label="Sân bay Trà Nóc">
                                <option value="Chu lai" label="Sân bay Chu lai">
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label for="destination" class="form-label">Điểm đến</label>
                            <input class="form-control" list="destination_list" name="destination"
                                   id="destination">
                            <datalist id="destination_list">
                                <option value="Tp. Hồ Chí Minh" label="Sân bay Tân Sơn Nhất">
                                <option value="Hà Nội" label="Sân bay Nội bài">
                                <option value="Buôn Ma Thuột" label="Sân bay Buôn Ma Thuột">
                                <option value="Cần thơ" label="Sân bay Trà Nóc">
                                <option value="Chu lai" label="Sân bay Chu lai">
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label for="Date_of_department_one_way" class="form-label">Ngày đi</label>
                            <input id="Date_of_department_one_way" width="602"/>
                            <script>
                                $('#Date_of_department_one_way').datepicker({
                                    uiLibrary: 'bootstrap5'
                                });
                            </script>
                        </div>
                        <div class="mb-3">
                            <label for="return_day_one_way" class="form-label">Ngày về</label>
                            <input id="return_day_one_way" width="602"/>
                            <script>
                                $('#return_day_one_way').datepicker({
                                    uiLibrary: 'bootstrap5'
                                });
                            </script>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Số lượng</label>
                            <input class="form-control" style="width: 50%;" name="quantity" id="quantity" type="number">
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-danger">Vui lòng điền đủ thông tin!</p>
                            <button type="submit" class="btn btn-success"
                                    style="border-radius: 10px; font-weight: 600;">Tìm
                                kiếm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}