{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<div class="session-style">
    <div class="" style="background:linear-gradient(28.91deg, #F9A51A 2.24%, #FBB612 31.03%, #FBF300 97.21%)">
        <div class="container py-3">
            <div class="d-flex justify-content-between">
                <div style="display: flex; font-size: 18px; font-weight: 700; max-height: 27px; gap: 2px">
                    <p>CHUYẾN BAY KHỨ HỒI</p>
                    <p>|</p>
                    <p>2 Người (Chuyến đi)</p>
                </div>

                <div style="display: flex; font-size: 18px; font-weight: 700; max-height: 27px; gap: 2px">
                    <p>CHUYẾN BAY KHỨ HỒI</p>
                    <p>|</p>
                    <p>2 Người (Chuyến về)</p>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-1">
                <div class="mt-2 d-flex gap-5" style="font-size: 18px; font-weight: 300; line-height: 24px;">
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="https://www.vietjetair.com/static/media/departure-icon.25d3557e.svg" alt=""
                                 style="height: fit-content;">
                            <div>
                                Điềm khởi hành
                            </div>
                            <div class="active">
                                Tp. Hồ Chí Minh ( SGN )
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="https://www.vietjetair.com/static/media/arrival-icon.a05c5d78.svg" alt=""
                                 style="height: fit-content;">
                            <div>
                                Điềm đến
                            </div>
                            <div class="active">
                                Hà Nội ( HAN )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 d-flex gap-5" style="font-size: 18px; font-weight: 300; line-height: 24px;">
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="https://www.vietjetair.com/static/media/departure-icon.25d3557e.svg" alt=""
                                 style="height: fit-content;">
                            <div>
                                Điềm khởi hành
                            </div>
                            <div class="active">
                                Hà Nội ( HAN )
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="https://www.vietjetair.com/static/media/arrival-icon.a05c5d78.svg" alt=""
                                 style="height: fit-content;">
                            <div>
                                Điềm đến
                            </div>
                            <div class="active">
                                Tp. Hồ Chí Minh ( SGN )
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                {% for b in bookticketstep %}
                <div class="step-box">
                    <div class="dot_border {{'dot_border_active' if b.link_step_1==path or b.link_step_2==path or b.link_step_3==path }}">
                        <div class="dot_step {{'dot_step_active' if b.link_step_1==path or b.link_step_2==path or b.link_step_3==path }}">

                        </div>
                    </div>
                    <div>
                        {{ b.name }}
                    </div>
                </div>
                <div class="dot_line {{'dot_line_active' if b.link_step_1==path or b.link_step_2==path or b.link_step_3==path }}"></div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="container center-item-style">
        <div class="card mt-3 shadow was-validated" style="width: 800px;">
            <div class="card-body">
                <h4 class="card-title">Hướng dẫn thanh toán</h4>
                <div class="border border-dashed"></div>
                <h5 class="card-title mt-3">Quý khách vui lòng thanh toán theo hướng dẫn sau:</h5>
                <p class="card-text">Quý khách vui lòng chuyển khoản đến số tài khoản:
                <a style="font-weight: 700;">Ngân hàng AAA, số tài khoản: 0XXX</a></p>
                <p class="card-text">Sau khi chuyển khoản, quý khách vui lòng chụp màn hình và đăng tải ở phía dưới</p>
                <div class="mb-3 mt-3">
                    <label for="imageUpload" class="form-label" style="font-weight: 700;">Chọn hình ảnh</label>
                    <input class="form-control" type="file" id="imageUpload" accept=".jpg, .jpeg, .png" required>
                    <div class="valid-feedback"></div>
                </div>
                <p class="card-text">Quý khách vui lòng đợi 15 phút để nhân viên kiểm tra chuyển khoản. Trạng thái thanh toán quý khách vui lòng kiểm tra ở "Vé đã đặt"</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}