{% extends 'layout/base.html' %}

{% block title %}Chọn chuyến bay{% endblock %}

{% block content %}
<div class="session-style">
    <div class="" style="background:linear-gradient(28.91deg, #F9A51A 2.24%, #FBB612 31.03%, #FBF300 97.21%)">
        <div class="container py-3">
            <div class="d-flex justify-content-between">
                <div style="display: flex; font-size: 18px; font-weight: 700; max-height: 27px; gap: 2px">
                    <p>
                        {% if type_ticket == 'one-way' %}
                        CHUYẾN BAY MỘT CHIỀU
                        {% else %}
                        CHUYẾN BAY KHỨ HỒI
                        {% endif %}
                    </p>
                    <p>|</p>
                    <p>{{ quantity }} Người (Chuyến đi)</p>
                </div>

                {% if type_ticket == 'two-way' %}
                <div style="display: flex; font-size: 18px; font-weight: 700; max-height: 27px; gap: 2px">
                    <p>CHUYẾN BAY KHỨ HỒI</p>
                    <p>|</p>
                    <p>{{ quantity }} Người (Chuyến về)</p>
                </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between mt-1">
                <div class="mt-2 d-flex gap-5" style="font-size: 18px; font-weight: 300; line-height: 24px;">
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="https://www.vietjetair.com/static/media/departure-icon.25d3557e.svg" alt=""
                                 style="height: fit-content;">
                            <div>
                                Điềm khởi hành
                            </div>
                            <div class="active">
                                {{ departure_point[1] }} ( {{ departure_point[0] }} )
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="https://www.vietjetair.com/static/media/arrival-icon.a05c5d78.svg" alt=""
                                 style="height: fit-content;">
                            <div>
                                Điềm đến
                            </div>
                            <div class="active">
                                {{ destination[1] }} ( {{ destination[0] }} )
                            </div>
                        </div>
                    </div>
                </div>
                {% if type_ticket == 'two-way' %}
                <div class="mt-2 d-flex gap-5" style="font-size: 18px; font-weight: 300; line-height: 24px;">
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="https://www.vietjetair.com/static/media/departure-icon.25d3557e.svg" alt=""
                                 style="height: fit-content;">
                            <div>
                                Điềm khởi hành
                            </div>
                            <div class="active">
                                {{ destination[1] }} ( {{ destination[0] }} )
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="https://www.vietjetair.com/static/media/arrival-icon.a05c5d78.svg" alt=""
                                 style="height: fit-content;">
                            <div>
                                Điềm đến
                            </div>
                            <div class="active">
                                {{ departure_point[1] }} ( {{ departure_point[0] }} )
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                {% for b in bookticketstep %}
                <div class="step-box">
                    <div class="dot_border {{'dot_border_active' if b.link_step_1==path or b.link_step_2==path or b.link_step_3==path }}">
                        <div class="dot_step {{'dot_step_active' if b.link_step_1==path or b.link_step_2==path or b.link_step_3==path }}">

                        </div>
                    </div>
                    <div>
                        {{ b.name }}
                    </div>
                </div>
                <div class="dot_line {{'dot_line_active' if b.link_step_1==path or b.link_step_2==path or b.link_step_3==path }}">

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="place_info_card">
                <div style="text-align: center;">
                    <p style="font-size: 24px; font-weight: 700; line-height: 29px">{{ departure_point[0] }}</p>
                    <p style="font-size: 16px; font-weight: 500; line-height: 19px">{{ departure_point[1] }}</p>
                </div>
                <svg width="57" height="55" viewBox="0 0 57 55" fill="none" xmlns="http://www.w3.org/2000/svg"
                     style="height: 100%;">
                    <path d="M8 18H41L45.8182 21H8V18Z" fill="#DA2128"></path>
                    <path d="M36.8835 21H48.5C39 16 40 17 33 11V18L36.8835 21Z" fill="#DA2128"></path>
                    <path d="M48 37L15 37L10.1818 34L48 34V37Z" fill="#D3D3D3"></path>
                    <path d="M19.1165 34L7.5 34C17 39 16 38 23 44V37L19.1165 34Z" fill="#D3D3D3"></path>
                </svg>
                <div style="text-align: center;">
                    <p style="font-size: 24px; font-weight: 700; line-height: 29px">{{ destination[0] }}</p>
                    <p style="font-size: 16px; font-weight: 500; line-height: 19px">{{ destination[1] }}</p>
                </div>
            </div>
            {% if type_ticket == 'two-way' %}
            <div class="place_info_card">
                <div style="text-align: center;">
                    <p style="font-size: 24px; font-weight: 700; line-height: 29px">{{ departure_point[0] }}</p>
                    <p style="font-size: 16px; font-weight: 500; line-height: 19px">{{ departure_point[1] }}</p>
                </div>
                <svg width="57" height="55" viewBox="0 0 57 55" fill="none" xmlns="http://www.w3.org/2000/svg"
                     style="height: 100%;">
                    <path d="M8 18H41L45.8182 21H8V18Z" fill="#D3D3D3"></path>
                    <path d="M36.8835 21H48.5C39 16 40 17 33 11V18L36.8835 21Z" fill="#D3D3D3"></path>
                    <path d="M48 37L15 37L10.1818 34L48 34V37Z" fill="#DA2128"></path>
                    <path d="M19.1165 34L7.5 34C17 39 16 38 23 44V37L19.1165 34Z" fill="#DA2128"></path>
                </svg>
                <div style="text-align: center;">
                    <p style="font-size: 24px; font-weight: 700; line-height: 29px">{{ destination[0] }}</p>
                    <p style="font-size: 16px; font-weight: 500; line-height: 19px">{{ destination[1] }}</p>
                </div>
            </div>
            {% endif %}
        </div>
        {% if type_ticket == 'one-way' and flight_list_format == [] %}
        <div class="text-center" style="margin-top: 100px;">
            <p class="active" style="font-size: 24px;">Không tìm thấy chuyến bay nào cho lựa chọn của bạn. Quay lại để
                chọn ngày khác.</p>
        </div>
        {% elif type_ticket == 'two-way' and (flight_list_format == [] or return_flight_list_format == []) %}
        <div class="text-center" style="margin-top: 100px;">
            <p class="active" style="font-size: 24px;">Không tìm thấy chuyến bay nào cho lựa chọn của bạn. Quay lại để
                chọn ngày khác.</p>
        </div>
        {% endif %}

        <div class="d-flex justify-content-between mt-3">
            <div style="width: 48%;">
                {% if flight_list_format %}
                <div class="d-flex">
                    <div class="ticket-title-box"></div>
                    <div class="ticket-title-box"
                         style="background: linear-gradient(90deg, rgba(166,229,255,1) 50%, rgba(0,177,255,1) 100%);">
                        <p>Hạng vé 1</p>
                    </div>
                    <div class="ticket-title-box"
                         style="background: linear-gradient(90deg, rgba(255,208,142,1) 50%, rgba(255,162,0,1) 100%);">
                        <p>Hạng vé 2</p>
                    </div>
                </div>
                {% endif %}
                <div style="display: flex; flex-direction: column; gap: 15px;">
                    {% for f in flight_list_format %}
                    <div class="d-flex">
                        <div class="ticket-info-box">
                            <p>{{ f.flightID }}</p>
                            <p><span class="time-style">{{ f.departureTime.strftime('%H:%M') }}</span> Đến <span
                                    class="time-style">{{ f.arrivalTime.strftime('%H:%M') }}</span></p>
                        </div>
                        <div class="ticket-price-select">
                            {% if f.numOf1stClassSeat > 0 %}
                            {% for p in f.price %}
                            {% if p.classID == 'SC001' %}
                            <p>{{ p.price }} VND</p>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <div class="sold-out-ticket">
                                <img src="https://www.vietjetair.com/static/media/noflight.cee84207.svg">
                                <p>Hết chỗ</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="ticket-price-select">
                            {% if f.numOf2ndClassSeat > 0 %}
                            {% for p in f.price %}
                            {% if p.classID == 'SC002' %}
                            <p>{{ p.price }} VND</p>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <div class="sold-out-ticket">
                                <img src="https://www.vietjetair.com/static/media/noflight.cee84207.svg">
                                <p>Hết chỗ</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if type_ticket == 'two-way' %}
            <div style="width: 48%;">
                {% if return_flight_list_format %}
                <div class="d-flex">
                    <div class="ticket-title-box"></div>
                    <div class="ticket-title-box"
                         style="background: linear-gradient(90deg, rgba(166,229,255,1) 50%, rgba(0,177,255,1) 100%);">
                        <p>Hạng vé 1</p>
                    </div>
                    <div class="ticket-title-box"
                         style="background: linear-gradient(90deg, rgba(255,208,142,1) 50%, rgba(255,162,0,1) 100%);">
                        <p>Hạng vé 2</p>
                    </div>
                </div>
                {% endif %}
                <div style="display: flex; flex-direction: column; gap: 15px;">
                    {% for f in return_flight_list_format %}
                    <div class="d-flex">
                        <div class="ticket-info-box">
                            <p>{{ f.flightID }}</p>
                            <p><span class="time-style">{{ f.departureTime.strftime('%H:%M') }}</span> Đến <span
                                    class="time-style">{{ f.arrivalTime.strftime('%H:%M') }}</span></p>
                        </div>
                        <div class="ticket-price-select">
                            {% if f.numOf1stClassSeat > 0 %}
                            {% for p in f.price %}
                            {% if p.classID == 'SC001' %}
                            <p>{{ p.price }} VND</p>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <div class="sold-out-ticket">
                                <img src="https://www.vietjetair.com/static/media/noflight.cee84207.svg">
                                <p>Hết chỗ</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="ticket-price-select">
                            {% if f.numOf2ndClassSeat > 0 %}
                            {% for p in f.price %}
                            {% if p.classID == 'SC002' %}
                            <p>{{ p.price }} VND</p>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <div class="sold-out-ticket">
                                <img src="https://www.vietjetair.com/static/media/noflight.cee84207.svg">
                                <p>Hết chỗ</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <form action="/flight-lookup/passengers" class="total_price_box">
        <div class="mb-4">
            <div class="select_flight_header">
                <p>THÔNG TIN CHUYẾN BAY
                    {% if type_ticket == 'two-way' %}
                    KHỨ HỒI
                    {% else %}
                    MỘT CHIỀU
                    {% endif %}
                </p>
                <div class="collapse_button" id="collapseButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" id="iconUp"
                         class="bi bi-caret-down hidden" viewBox="0 0 16 16">
                        <path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" id="iconDown"
                         class="bi bi-caret-down" viewBox="0 0 16 16">
                        <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                    </svg>
                </div>
            </div>
            <div id="flightInfo">
                <div style="background: linear-gradient(90deg, rgba(201,239,255,1) 40%, rgba(255,251,179,1) 100%);">
                    <div class="d-flex container">
                        <div style="width: 50%;">
                            <div class="select_flight_info" style="padding-right: 10px; background: #C9EFFF;">
                                <p>Chuyến đi</p>
                            </div>
                        </div>
                        {% if type_ticket == 'two-way' %}
                        <div style="width: 50%;">
                            <div class="select_flight_info"
                                 style="padding-left: 10px; background: #FFFBB3; text-align: end;">
                                <p>Chuyến về</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex container"
                     style="padding: 14px 0px; font-size: 16px; font-weight: 700; line-height: 21px;">
                    <div style="width: 50%; padding-right: 10px;">
                        <div class="d-flex align-items-center gap-3">
                            <p>{{ departure_point[1] }} ( {{ departure_point[0] }} )</p>
                            <img src="https://www.vietjetair.com/static/media/thai-vietjet.535af1a2.svg" alt="">
                            <p>{{ destination[1] }} ( {{ destination[0] }} )</p>
                        </div>
                        <div class="ticket-price-box">
                            <p>Giá vé</p>
                            <div class="d-flex gap-2" style="font-weight: 700">
                                <p>5.001.600</p>
                                <p>VND</p>
                            </div>
                        </div>
                    </div>
                    {% if type_ticket == 'two-way' %}
                    <div style="width: 50%; padding-left: 10px; display: flex; flex-direction: column; align-items: end;">
                        <div class="d-flex align-items-center gap-3">
                            <p>{{ destination[1] }} ( {{ destination[0] }} )</p>
                            <img src="https://www.vietjetair.com/static/media/thai-vietjet.535af1a2.svg" alt="">
                            <p>{{ departure_point[1] }} ( {{ departure_point[0]}} )</p>
                        </div>
                        <div class="ticket-price-box">
                            <div class="d-flex gap-2" style="font-weight: 700">
                                <p>5.001.600</p>
                                <p>VND</p>
                            </div>
                            <p>Giá vé</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-between align-items-center" style="height: 100%;">
            <button type="submit" class="btn btn-secondary" style="width: 150px; font-weight: 700; display: none;">Quay
                lại
            </button>
            <p style="font-size: 16px; font-weight: 500; line-height: 22px;">Tổng tiền: <span type="text"
                                                                                              style="font-size: 24px; font-weight: 700;">10,000,000 VND</span>
            </p>
            {% if type_ticket == 'one-way' and flight_list_format %}
            <button type="submit" class="btn btn-success" style="width: 150px; font-weight: 700;">Tiếp theo</button>
            {% elif type_ticket == 'two-way' and flight_list_format and return_flight_list_format %}
            <button type="submit" class="btn btn-success" style="width: 150px; font-weight: 700;">Tiếp theo</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}