{% extends 'employee/layout/base.html' %}

{% block title %}Chi tiết hóa đơn chờ xác nhận{% endblock %}

{% block content %}
<div class="session-style container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/employee/tickets-booked" style="text-decoration: none; color: white;">Danh sách vé đã đặt</a></li>
        <li class="breadcrumb-item active">Chi tiết hóa đơn chờ xác nhận</li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Thông tin hóa đơn</h2>
                    {% if invoices %}
                        {% for invoice in invoices %}
                            <div class="tab-content p-3 border bg-light mb-3">
                                <h5 class="card-title">Hóa đơn {{ loop.index }}</h5>
                                <p class="card-text" style="font-weight: 700;">Mã hóa đơn: {{ invoice.invoiceID }}</p>
                                <p class="card-text" style="font-weight: 700;">Tài khoản: {{ invoice.accountID }}</p>
                                <p class="card-text" style="font-weight: 700;">Tổng tiền: {{ invoice.paymentAmount }}</p>
                                {% if invoice.transferImage %}
                                    <img src="{{ invoice.transferImage }}" class="img-fluid" alt="Transfer Image">
                                {% endif %}
                                <div class="d-flex justify-content-between mt-3">
                                    <button id="acceptInvoiceButton" data-id="{{ invoice.invoiceID }}" type="button" class="btn btn-success acceptButton">Chấp nhận</button>
                                    <button id="cancelInvoiceButton" data-id="{{ invoice.invoiceID }}" type="button" class="btn btn-danger cancelButton" data-bs-toggle="modal" data-bs-target="#confirmCancelModal_{{ invoice.invoiceID }}">Hủy</button>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Không có hóa đơn nào.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}" defer type="text/javascript"></script>
</div>
{% endblock %}
