* {
    font-family: Tahoma;
}

body {
    background-color: #fff;
    margin-top: 70px;
}

.container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.active {
    font-weight: 700;
    color: #e86020 !important;
}

.header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-height: 70px;
}

.flight-lookup-bg {
    min-height: 78vh;
}

.form-label {
    color: #000000;
}

.card {
    position: static;
}