{% extends 'customer/layout/base.html' %}

{% block title %}Tra cứu chuyến bay{% endblock %}

{% block content %}

<div class="session-style container me-auto">
    <ul class="breadcrumb">
        <li class="breadcrumb-item active">Danh sách vé đã đặt</li>
    </ul>
    <form class="d-flex" action="/tickets-booked">
        <input class="form-control me-2" name="keyword" style="width: 250px;" type="text" placeholder="Tìm mã hóa đơn">
        <button class="btn btn-primary" style="font-weight: 700;" type="submit">Tìm kiếm</button>
    </form>
    {% if invoices %}
    <table id="data-table" class=" table table-hover table-primary table-striped mt-3 shadow was-validated px-2">
        <thead class="table-dark">
        <tr>
            <th scope="col">Số thứ tự</th>
            <th scope="col">Mã hóa đơn</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Trạng thái</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
        <tr>
            <th>{{ loop.index }}</th>
            <td><a href="/tickets-booked/tickets-booked-details">{{ invoice.invoiceID }}</a></td>
            <td>{{ invoice.paymentTime }}</td>
            <td>{{ "{:,.0f}".format(invoice.paymentAmount) }}</td>
            <td>
                <button class="btn
                {% if invoice.paymentStatus == 'Pending' %} btn-warning
                {% elif invoice.paymentStatus == 'Paid' %} btn-success
                {% elif invoice.paymentStatus == 'Cancelled' %} btn-danger
                {% endif %}" style="font-weight: 700; width: 100px;">
                    <a href="/tickets-booked/tickets-booked-details" style="text-decoration: none; color: white;">{{ invoice.paymentStatus }}</a>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <li class="page-item disabled" style="font-weight: 700;"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item" style="font-weight: 700;"><a class="page-link" href="#">Next</a></li>
    </ul>
    {% else %}
    <h3 class="modal-title mt-3" id="popupFormModalLabel2" style="font-weight: 700;">Không tìm thấy mã hóa đơn</h3>
    {% endif %}

</div>
{% endblock %}